/** Colors & Fonts */
:root {
    /* Colors */
    --Primary: #784D3C;
    --White: #FFFFff;
    --Black: #000000;
    --WhiteGrayish: #e1e1e1;

    /* Fonts */
    --OpenSans: 'Open Sans', sans-serif;
    --PTSans: 'PT Sans', sans-serif;

    /* 10px = 1rem */
    font-size: 10px;
}

/* Global Styles */
*, *:before, *:after { box-sizing: inherit; } /* Box Model */

html { box-sizing: border-box; } /* Box Model */

body {
    font-family: var(--OpenSans);
    font-size: 1.6rem;
    line-height: 2;
}

.Container {
    margin: 0 auto;
    width: min(90%, 120rem);
}

a { text-decoration: none; }

h1, h2, h3, h4 {
    font-family: var(--PTSans);
    line-height: 1.2;
}

h1 { font-size: 4.8rem; }

h2 { font-size: 4rem; }

h3 { font-size: 3.2rem; }

h4 { font-size: 2.8rem; }

img { max-width: 100%; }

/* Utilities */
.no-margin { margin: 0; }

.no-padding { padding: 0; }

.text-center { text-align: center; }

/* Header */
.Header {
    background-image: url(../img/banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60rem;
}

.TopBar { padding-top: 3rem; }

.Header_Text {
    color: var(--White);
    margin-top: 5rem;
}

.Logo {
    color: var(--White);
}

.Logo_Name {
    font-weight: normal;
}

.Logo_Bold {
    font-weight: bold;
}

.Navigation_Link {
    color: var(--White);
    display: block;
    font-size: 1.8rem;
}

/* Blog Entry */
.Content {
    border-bottom: 0.1rem solid var(--WhiteGrayish);
    margin-bottom: 2rem;
}

.Content:last-of-type {
    border: none;
    margin-bottom: 0;
}

.Button {
    color: var(--White);
    display: block;
    font-size: 1.8rem;
    font-family: var(--PTSans);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
    padding: 1rem 3rem;
}

.Button-Primary {
    background-color: var(--Black);
}

.Button-Secondary {
    background-color: var(--Primary);
}

/* Courses Section */
.Courses {
    list-style: none;
}

.WidgetCourse {
    border-bottom: 0.1rem solid var(--WhiteGrayish);
    margin-bottom: 2rem;
}

.WidgetCourse:last-of-type {
    border: none;
    margin-bottom: 0;
}

.WidgetCourse_Label {
    font-family: var(--OpenSans);
    font-weight: bold;
}

.WidgetCourse_Info {
    font-weight: normal;
}

.WidgetCourse_Label,
.WidgetCourse_Info { font-size: 2rem; }

/* Footer */
.Footer {
    background-color: var(--Black);
    padding: 3rem 0;
    margin-top: 4rem;
}

.Copyright {
    font-size: 1.2rem;
    font-family: var(--PTSans);
}

/* Media Queries */
@media (min-width: 768px) {
    .Header_Text {
        margin-top: 15rem;
    }

    .TopBar, .DownBar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .Navigation {
        display: flex;
        gap: 2rem;
    }

    .MainContent {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }

    .Button {
        display: inline-block;
    }
}
